/* document outline ----------------------------------------- */
html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}
/* Grid Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */
#container{
  display: grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10% 20% 60vh 10%;
  grid-template-areas:
     'player1 player2'
     'score1container score2container'
     'timer1 timer2'
     'operationbtn settingbtn';
  justify-items: stretch;
  align-items: stretch;
}
#player1{
  grid-area: player1;
  justify-self: center;
}
#player2{
  grid-area: player2;
  justify-self: center;
}
#score1container{
  grid-area: score1container;
  justify-self: center;
}
#score2container{
  grid-area: score2container;
  justify-self: center;
}
#gamemode{
  grid-area: 1/1/3/3;
}
#timer1{
  grid-area: timer1;
}
#timer2{
  grid-area: timer2;
}
#delay{
  grid-area: 3/1/4/3;
  align-self: start; /* 上寄せ */
  justify-self: center;
  z-index: 3;
}
#pauseinfo{
  grid-area: 3/1/4/3;
  justify-self: center;
  align-self: center;
  z-index: 4;
}
#pausebtn{
  grid-area: 4/1/5/3;
  justify-self: center;
  align-self: center;
  z-index: 3;
}
#settingbtn{
  grid-area: settingbtn;
  justify-self: right;
  align-self: center;
  margin-right: 2vw;
}
/* object decorations ------------------------------------- */
.infotext{
  font-size: 3vw;
  text-align: center;
}
.scorecontainer{
  display: flex;
  align-items: center;
  padding-bottom: 1vh;
}
.score{
  width: 15vw;
  font-size: 7vw;
  text-align: center;
  border-radius: 20%;
  margin: 0 1vw;
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.delay{
  width: 20vh; /* 正円で表示 */
  height: 20vh;
}
.updownbtn{
  font-size: 3vw;
  padding: 0.5em 0.5em;
  border: 2px solid;
  border-radius: 2.0em;
}
.oparationbtn{
  font-size: 1.8vw;
  padding: 0.5em 3em;
  border: 4px solid;
  border-radius: 1.6em;
  margin-top: 1vh;
}
.pauseinfo{
  padding: 3vh 5vw;
  font-size: 7vw;
}
.lose{
  color: #f00;
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  position: absolute;
  display: none;
  z-index: 9;
}
#settingwindow input,select{
  font-size: 100%;
}
.popupwindow{
  border: 3px solid;
  padding: 1em 2em;
  font-size: 1.8vw;
}
.popuptitle{
  font-size: 120%;
  padding: 1em;
}
/* toggle switch ----------------------------------------- */
/* (参考) https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s;
  border-radius: 1.6em; /* Rounded sliders */
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.2em;
  bottom: 0.2em;
  transition: .3s;
  border-radius: 50%;
}
input:checked + .slider {
}
input:checked + .slider:before {
  transform: translateX(2.0em);
  -webkit-transform: translateX(2.0em);
  -ms-transform: translateX(2.0em);
}
/* Segmented Control ----------------------------------------- */
/* (参考) https://ginpen.com/2012/12/11/segmented-control/ */
.segmented {
  display: inline-block;
}
.segmented .label {
  border: 1px solid;
  float: left;
  padding: 0.5em 1em;
  text-align: center;
  width: 12vw;
}
.segmented input {
  display: none;
}
.segmented input:checked + .label {
}
/* 小技（タップした際の黒ずみ除去 / 長押しでメニューを開かない / テキスト選択不可 / スクロール不可）*/
/* (参考) http://techblog.kayac.com/2016/12/12/090000 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
/*  -webkit-touch-callout: none;*/
/*  -webkit-user-select: none;*/
}
