/* theme color css */
/* document outline ----------------------------------------- */
body{
  background-color: #efe;
}
.score{
  background-color: #ddf;
}
.btnenable{
  background-color: #adf;
  border-color: #29f;
}
.btndisable{
  background-color: #ddd;
  border-color: #aaa;
  color: #aaa;
}
.pauseinfo{
  background-color: #dfd;
  color: #00f;
}
.lose{
  color: #f00;
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  background-color: #dff;
}
.popupwindow{
  border-color: #00f;
}
.popuptitle{
  background-color: #adf;
}
/* toggle switch ----------------------------------------- */
.slider {
  background-color: #bbb;
}
.slider:before {
  background-color: #fff;
}
input:checked + .slider {
  background-color: #29f;
}
/* Segmented Control ----------------------------------------- */
.segmented .label {
  background-color: #eee;
  border-color: #ccc;
  color: #666;
}
.segmented input:checked + .label {
  background-color: #29f;
  color: #fff;
}
