/* theme color css */
/* document outline ----------------------------------------- */
body{
  background-color: #fff;
}
.score{
  background-color: #ddd;
}
.btnenable{
  background-color: #999;
  border-color: #444;
}
.btndisable{
  background-color: #ddd;
  border-color: #aaa;
  color: #777;
}
.pauseinfo{
  background-color: #888;
  color: #bbb;
}
.lose{
  color: #f00;
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  background-color: #ddd;
}
.popupwindow{
  border-color: #555;
}
.popuptitle{
  background-color: #aaa;
/*  color: #000;*/
}
/* toggle switch ----------------------------------------- */
.slider {
  background-color: #aaa;
}
.slider:before {
  background-color: #eee;
}
input:checked + .slider {
  background-color: #444;
}
/* Segmented Control ----------------------------------------- */
.segmented .label {
  background-color: #555;
  border-color: #333;
  color: #777;
}
.segmented input:checked + .label {
  background-color: #eee;
  color: #000;
}
