/* theme color css */
/* document outline ----------------------------------------- */
body{
  background-color: #fe8;
}
.score{
  background-color: #ed4;
}
.btnenable{
  background-color: #dec;
  border-color: #d76;
}
.btndisable{
  background-color: #ddd;
  border-color: #aaa;
  color: #aaa;
}
.pauseinfo{
  background-color: #ded;
  color: #b59;
}
.lose{
  color: #f00;
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  background-color: #fda;
}
.popupwindow{
  border-color: #b33;
}
.popuptitle{
  background-color: #cbd;
}
/* toggle switch ----------------------------------------- */
.slider {
  background-color: #aaa;
}
.slider:before {
  background-color: #fff;
}
input:checked + .slider {
  background-color: #832;
}
/* Segmented Control ----------------------------------------- */
.segmented .label {
  background-color: #eee;
  border-color: #ccc;
  color: #777;
}
.segmented input:checked + .label {
  background-color: #832;
  color: #fff;
}
