/* theme color css */
/* document outline ----------------------------------------- */
body{
  background-color: #fff;
}
#container{
  background-color: #fff;
}
#timercontainer{
  background-color: #fff;
}
.infotext{
  color: #000;
}
.score{
  background-color: #ddd;
  color: #000;
}
.updownbtn{
  background-color: #aaa;
  border: 2px solid #333;
  color: #fff;
}
.oparationbtn{
  background-color: #999;
  border: 2px solid #444;
  color: #000;
}
.disable{
  background-color: #ddd;
  border: 2px solid #aaa;
  color: #777;
}
.pauseinfo{
  background-color: #888;
  color: #bbb;
}
.lose{
  color: #f00;
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  background-color: #ddd;
}
.popupwindow{
  border: 2px solid #555;
}
.popuptitle{
  background-color: #aaa;
  color: #000;
}
/* toggle switch ----------------------------------------- */
.slider {
  background-color: #aaa;
}
.slider:before {
  background-color: #eee;
}
input:checked + .slider {
  background-color: #444;
}
/* Segmented Control ----------------------------------------- */
.segmented .label {
    background-color: #555;
    border: 1px solid #333;
    color: #777;
}
.segmented input:checked + .label {
    background-color: #eee;
    color: #000;
}
